In [4]:
import pandas as pd

/tmp/ipykernel_1304547/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
df = pd.read_csv('/fs5/p_masi/rudravg/MxIF_Vxm_Registered_V2/GCA022ACB_TISSUE03/registered_GCA022ACB_T3_instances.csv')

df2 = pd.read_csv('/fs5/p_masi/rudravg/MxIF_Vxm_Registered_V2/GCA022ACB_TISSUE03/unregistered_GCA022ACB_T3_instances.csv')

In [11]:
df.head()

,Instance,Centroid_X,Centroid_Y,Mean_CD11B,Mean_CD20,Mean_CD3d,Mean_CD45,Mean_CD4,Mean_CD68,Mean_CD8,Mean_CgA,Mean_Lysozyme,Mean_NaKATPase,Mean_PanCK,Mean_SMA,Mean_Sox9,Mean_Vimentin,Mean_OLFM4,slide_id
0,1,9432.198864,431.250000,3.454545,0.267045,0.202652,0.018939,0.994318,0.168561,0.196970,2.617424,0.962121,2.570076,37.600379,0.000000,2.386364,0.102273,0.348485,1
1,2,9268.344828,435.200000,1.144828,0.041379,0.101149,0.071264,0.043678,0.110345,0.050575,0.029885,0.395402,1.963218,0.241379,0.000000,0.080460,0.000000,0.034483,1
2,3,8914.631491,435.244556,0.757119,0.000000,0.000000,2.911223,0.013400,33.936348,0.000000,0.000000,0.914573,0.000000,0.000000,0.085427,5.525963,30.152429,0.000000,1
3,4,8940.391429,436.074286,1.914286,0.011429,0.000000,3.111429,0.000000,11.025714,0.000000,0.000000,0.568571,0.000000,0.000000,0.000000,0.311429,10.628571,0.000000,1
4,5,9288.080092,437.276888,2.340961,0.000000,0.018307,0.000000,0.000000,0.000000,0.000000,0.004577,0.036613,0.263158,0.000000,0.000000,0.032037,0.000000,0.000000,1

In [4]:
df=df.sort_values('Instance')

In [5]:
df.head()

,Instance,Centroid_X,Centroid_Y,Mean_CD11B,Mean_CD20,Mean_CD3d,Mean_CD45,Mean_CD4,Mean_CD68,Mean_CD8,Mean_CgA,Mean_Lysozyme,Mean_NaKATPase,Mean_PanCK,Mean_SMA,Mean_Sox9,Mean_Vimentin,Mean_OLFM4
84,1,9432.198864,431.250000,3.454545,0.267045,0.202652,0.018939,0.994318,0.168561,0.196970,2.617424,0.962121,2.570076,37.600379,0.000000,2.386364,0.102273,0.348485
67,2,9268.344828,435.200000,1.144828,0.041379,0.101149,0.071264,0.043678,0.110345,0.050575,0.029885,0.395402,1.963218,0.241379,0.000000,0.080460,0.000000,0.034483
87,3,8914.631491,435.244556,0.757119,0.000000,0.000000,2.911223,0.013400,33.936348,0.000000,0.000000,0.914573,0.000000,0.000000,0.085427,5.525963,30.152429,0.000000
9,4,8940.391429,436.074286,1.914286,0.011429,0.000000,3.111429,0.000000,11.025714,0.000000,0.000000,0.568571,0.000000,0.000000,0.000000,0.311429,10.628571,0.000000
8,5,9288.080092,437.276888,2.340961,0.000000,0.018307,0.000000,0.000000,0.000000,0.000000,0.004577,0.036613,0.263158,0.000000,0.000000,0.032037,0.000000,0.000000

In [13]:
df['slide_id'] = 1
df2['slide_id'] = 2

In [15]:
df2.head()

,Instance,Centroid_X,Centroid_Y,Mean_CD11B,Mean_CD20,Mean_CD3d,Mean_CD45,Mean_CD4,Mean_CD68,Mean_CD8,Mean_CgA,Mean_Lysozyme,Mean_NaKATPase,Mean_PanCK,Mean_SMA,Mean_Sox9,Mean_Vimentin,Mean_OLFM4,slide_id
0,1,9432.198864,431.250000,1.009470,0.000000,0.051136,0.024621,1.102273,0.001894,0.068182,2.234848,5.465909,2.945076,20.839015,0.274621,0.596591,0.000000,0.043561,2
1,2,9268.344828,435.200000,2.473563,0.000000,0.002299,0.000000,0.000000,0.000000,0.000000,0.000000,0.068966,0.735632,0.273563,0.000000,0.052874,0.000000,0.006897,2
2,3,8914.631491,435.244556,0.202680,0.000000,0.000000,1.221106,0.122278,40.961474,0.000000,0.030151,1.348409,0.000000,0.000000,0.001675,14.502513,38.676717,0.000000,2
3,4,8940.391429,436.074286,2.322857,0.380000,0.000000,4.137143,0.000000,5.562857,0.000000,0.000000,0.571429,0.000000,0.000000,0.000000,0.857143,12.145714,0.000000,2
4,5,9288.080092,437.276888,4.199085,0.004577,0.022883,0.000000,0.000000,0.000000,0.013730,0.000000,0.128146,0.100686,0.000000,0.000000,0.118993,0.000000,0.000000,2

In [7]:
df.head()

,Instance,Centroid_X,Centroid_Y,Mean_CD11B,Mean_CD20,Mean_CD3d,Mean_CD45,Mean_CD4,Mean_CD68,Mean_CD8,Mean_CgA,Mean_Lysozyme,Mean_NaKATPase,Mean_PanCK,Mean_SMA,Mean_Sox9,Mean_Vimentin,Mean_OLFM4,slide_id
84,1,9432.198864,431.250000,3.454545,0.267045,0.202652,0.018939,0.994318,0.168561,0.196970,2.617424,0.962121,2.570076,37.600379,0.000000,2.386364,0.102273,0.348485,1
67,2,9268.344828,435.200000,1.144828,0.041379,0.101149,0.071264,0.043678,0.110345,0.050575,0.029885,0.395402,1.963218,0.241379,0.000000,0.080460,0.000000,0.034483,1
87,3,8914.631491,435.244556,0.757119,0.000000,0.000000,2.911223,0.013400,33.936348,0.000000,0.000000,0.914573,0.000000,0.000000,0.085427,5.525963,30.152429,0.000000,1
9,4,8940.391429,436.074286,1.914286,0.011429,0.000000,3.111429,0.000000,11.025714,0.000000,0.000000,0.568571,0.000000,0.000000,0.000000,0.311429,10.628571,0.000000,1
8,5,9288.080092,437.276888,2.340961,0.000000,0.018307,0.000000,0.000000,0.000000,0.000000,0.004577,0.036613,0.263158,0.000000,0.000000,0.032037,0.000000,0.000000,1

In [8]:
#Save the dataframe
df.to_csv('/fs5/p_masi/rudravg/MxIF_Vxm_Registered_V2/GCA020TIB_TISSUE01/registered_GCA020TIB_instances.csv', index=False)

In [6]:
df_merged = pd.concat([df, df2], ignore_index=True)

In [7]:
df_merged.tail()

,Instance,Centroid_X,Centroid_Y,Mean_CD11B,Mean_CD20,Mean_CD3d,Mean_CD45,Mean_CD4,Mean_CD68,Mean_CD8,Mean_CgA,Mean_Lysozyme,Mean_NaKATPase,Mean_PanCK,Mean_SMA,Mean_Sox9,Mean_Vimentin,Mean_OLFM4,slide_id
81919,40958,4736.536047,12277.238372,1.108140,15.524419,25.447674,0.155814,0.000000,0.000000,0.553488,0.800000,0.260465,5.611628,27.751163,0.036047,1.726744,0.000000,0.197674,unregistered
81920,40959,4756.905120,12275.168675,1.743976,11.789157,28.120482,1.018072,0.000000,0.000000,0.364458,0.400602,0.308735,1.564759,33.569277,0.058735,3.490964,0.000000,0.167169,unregistered
81921,40960,4712.831014,12281.047714,0.222664,9.679920,25.009940,0.000000,0.003976,0.000000,0.200795,1.182903,0.115308,0.489066,34.445328,0.101392,1.739563,0.000000,0.328032,unregistered
81922,40961,4775.916944,12280.602990,0.277409,4.682724,31.029900,0.739203,0.000000,0.023256,0.387043,0.348837,0.491694,0.011628,11.629568,0.000000,3.807309,0.001661,0.074751,unregistered
81923,40962,4799.280992,12287.900826,1.112948,2.278237,25.699725,9.911846,0.000000,0.000000,0.223140,0.033058,0.049587,0.542700,41.000000,0.000000,11.027548,1.683196,0.247934,unregistered

In [8]:
df_merged.to_csv('/fs5/p_masi/rudravg/MxIF_Vxm_Registered_V2/GCA022ACB_TISSUE03/combined_GCA022ACB_T3_instances.csv', index=False)